<!DOCTYPE html>
<html>
  <head>
    <title>Main Application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <h1>Main Application</h1>
    <%= yield %>
  </body>
</html>
